

header {
	
	height : auto;
	max-width: 100%;
	background-size : cover;
	background-position : center;
	position : relative;

}

header p {

	font-size:5vw;
	text-transform:uppercase;
	position : absolute;

	top : 30%;
	left : 10%;

	font-family: 'Syncopate', sans-serif;
	color: white;

}

.menu-box {

	display:inline-block;
	width:75%;
	background-color:#0074c7;
	color:white;
	font-family: 'Open-Sans', sans-serif;
	font-size:14px;
	text-align:center;
	border:2px solid #0074c7;
	padding : 15px 25px;
	
	text-decoration: none;
	margin:10px 0;
	}

.button-container	 {
	position:absolute;
	top:55%;
	left:20%;

}

.menu-box:hover {
	color : #0074c7;
	text-decoration:none;
	background-color:white;
	
}

section:nth-child(even) {
	background-color:#ccc;
}

.top-nav {
	position : fixed;
	top:0;
	left:0;
	width:100%;
	z-index:99;
	background-color:rgba(255, 255, 255, 0.8);
	height:90px;
	padding-left: 150px;


}

.top-nav h1 {
	z-index:99;
	font-family: 'Open-Sans', sans-serif;
	font-size:25px;
	z-index:9;
}

.top-nav ul {
	display:inline-block;
	width:50%;
	margin-top:18px;
}

.top-nav ul li a {
	color:#666;
	text-transform:uppercase;
	font-size:16px;
	font-family: 'Open-Sans', sans-serif;
	font-weight:bold;
	right: -400px;
}

.logo {
	position:relative;
	left:-325px;
	top:20px;
	width:215px;
	z-index:-1;
	height:140px;
}

h2 {
	font-size:20px;
	font-family: 'Open-Sans', sans-serif;
	border-bottom:1px solid #ccc;
}



.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #0074c7;
    border: 2px solid #0074c7;
    border-radius: 15%;
    color:white;
}

#homepage-video {
	max-width: 100%;
	height: auto%;
}








